@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./images/bg-intro-desktop.png");
    background-color: #ff7a7a;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}


.main-container {
    margin: 0 auto;
    max-width: 1105px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 7.5rem;
    grid-gap: 1.4rem;
  }



h1 {
    margin-top: 11rem;
    width: 550px;
    font-family: Poppins;
    font-size: 3rem;
    line-height: 3rem;
    color: rgb(255, 255, 255);
}

p {
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    width: 550px;
    font-family: Poppins;
}

.btnblue  {
    cursor: pointer;
    font-family: Poppins;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    margin-top: -8rem;
    margin-left: -2.7rem;
    background-color: rgb(89, 94, 168);
    width: 550px;
    height: 65px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 9px 5px -1px rgba(0, 0, 0, 0.27);
    -webkit-box-shadow: 0px 9px 5px -1px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 0px 9px 5px -1px rgba(0, 0, 0, 0.27);
}

span {
    font-family: Poppins;
    font-weight: 600;
    font-size: 1rem;
}


.main-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 6rem;
    width: 550px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 2.5rem 2.7rem;
    box-shadow: 0px 9px 5px -1px rgba(0, 0, 0, 0.27);
    -webkit-box-shadow: 0px 9px 5px -1px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 0px 9px 5px -1px rgba(0, 0, 0, 0.27);
}

.main-form .input-field {
    margin-top: 4.6rem;
    width: 100%;
    height: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    
}

input {
    margin-top: -1.5rem;
    padding: 1.2rem;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    opacity: 0.8;  
    border-color: #b8b8b8;
}

input::placeholder {
    font-weight: 700;
    font-size: 0.9rem;
    padding-left: 0.8rem;
}

input:focus-visible {
    outline-width: 1px;
    outline-style: solid;
    outline-color: #3646d8;
}

#btngreen  {
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 3rem;
    font-weight: 500;
    font-weight: 600;
    font-size: 0.9rem;
    color: rgb(255, 255, 255);
    background-color: rgb(77, 199, 128);
    width: 470px;
    height: 55px;
    border: none;
    border-radius: 5px;   
}

#btngreen:hover {
    background-color: rgb(77, 220, 158);
    transition: all ease-in-out 0.3s;

}
  

.tnc {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.7rem;
    color: #c2c2c2;
    font-family: Poppins;
    font-weight: 600;
}

.tnc a {
    color: rgb(241, 109, 109);
    text-decoration: none;
    font-weight: 600;
}


.foot {
     font-family: Poppins;
     padding: 0.5rem;
     background-color: #ac525294;
     margin-top: 42rem;
     margin-left: 22rem;
     color: black;
     width: 500px;
     font-size: 1rem;
     display: flex;
     align-items: center;
     position: absolute;   
 }
 
 .foot a {
     font-family: Poppins;
     text-decoration: none;
     font-size: 18px;
     color: rgb(45, 255, 18);
 }
 
 
